# Ignore all __pycache__ directories at any depth
__pycache__/
**/__pycache__/
**/__pycache__/*

# # Ignore all .pkl files at any depth
# *.pkl
# **/*.pkl

# # Ignore all .pt files at any depth
# *.pt
# **/*.pt
